<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Model Deployment Test</title>
    <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row py-5 text-center">
            <h1 class="border border-dark display-2 rounded-pill bg-light py-4">Linear Regression Model Deployment</h1>
        </div>
        
            {% block content %}

            {% endblock content %}
        </div>
    </div>

    <script src="/static/assets/popper/popper.min.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>
</body>

</html>