{% extends "base.html" %}

{% block content %}
<div class="row text-center">
    <div class="col"></div>
    <div class="col-6 text-center">
        <div class="row">
            <form method="POST" action="prediction" enctype="multipart/form-data">
                <label class="form-label display-6">Enter Departure Delay:</label>
                <p><input class="form-control" type="text" name="DepDelay"></p>
                <p><input class="btn btn-outline-secondary" type="submit" value="Submit"></p>

            </form>
        </div>
    </div>
    <div class="col"></div>
</div>

{% endblock content %}